@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(
        90deg,
       rgba(255, 255, 255, 1) 70%,
       rgba(255, 255, 255, 0) 120%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.description {
    font-size: 25px;
    margin-bottom: 52px;
    font-family: var(--font-roboto);
}

.contactBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
    overflow: hidden;
    transition: 
        color 0.3s,
        background-color 0.3s,
        transform 0.3s;
}

.contactBtn:hover {
    color: var(--color-primary-dark);
    background-color: var(--color-primary);
    transform: translateY(-2px) scale(1.07);
}

.heroImg{
    width: 50%;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: 10vw;
    border-radius: 764px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    filter: blur(100px);
    z-index: 0;
}

.botonBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    bottom: 246px;
    right: -25vw;
    border-radius: 764px;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }

    .content {
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 2.5rem;
    }

    .description {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .contactBtn {
        width: 180px;
        height: 45px;
        font-size: 1rem;
    }

    .heroImg {
        width: 80%;
    }
    
}