:root{
    /* Colours*/
    --color-text: #ffffff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --color-title: #006aff;

    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
}