@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 61px;
    z-index: 2;
    margin: 0 10%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.title:hover {
  color: var(--color-title);
}

.menu {
  display: flex;
}

.menuItens {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItens a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.3rem; /* Altere este valor para o tamanho desejado */
}

.menuItens a:hover {
  color: var(--color-title);
}

.menuBtn {
  display: none; /* Esconde o botão em telas grandes */
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 10%;
    position: relative; /* Necessário para o menu absoluto */
  }

  .menu {
    position: relative; /* Para o menuItensOpen ficar relativo ao menu */
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    gap: 11px;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .menuItens {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
    padding: 24px 33px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 100%;
    left: 50%;                /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro do botão */
    min-width: 160px;
  }
  
  .menuItensOpen {
    display: flex;
    z-index: 1;
  }
}